
.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 10px!important;
}
.storybook-button--primary {
  color: white!important;
  background-color: #1ea7fd!important;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 10px!important;
  padding: 8px 14px!important;
}
.storybook-button--medium {
  font-size: 14px!important;
  padding: 11px 20px!important;
}
.storybook-button--large {
  font-size: 18px!important;
  padding: 14px 26px!important;
}
