@import "../../base/color-variables.scss";
@import "../../base/typography.scss";

.test-component {
  background-color: $harvey-white;
  border: 1px solid $harvey-black;
  padding: 8px;
  width: 260px;
  text-align: center;
  margin: 20px;

  .heading {
    @include heading;
  }

  &.test-component-secondary {
    background-color: $harvey-black;
    color: $harvey-white;
  }
}
